body {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: monospace;
    text-align: center;
}

#piano {
    height: 290px;
    padding: 90px 30px 0 30px;
    background-color: purple;
    border-radius: 10px;
}

.white_keys {
    display: flex;
}

.black_keys {
    position: relative;
    display: flex;
}

.white_key {
    width: 68px;
    height: 280px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    border: solid #000 2px;
    box-sizing: border-box;
}

.black_key {
    width: 38px;
    height: 160px;
    border-radius: 0 0 5px 5px;
    background-color: #000;
    box-sizing: border-box;
    position: absolute;
}

.black_key:nth-child(1) {
    left: 48px;
}

.black_key:nth-child(2) {
    left: 117px;
}
.black_key:nth-child(3) {
    left: 253px;
}
.black_key:nth-child(4) {
    left: 320px;
}

.black_key:nth-child(5) {
    left: 389px;
}

.black_key:nth-child(6) {
    left: 525px;
}

.black_key:nth-child(7) {
    left: 594px;
}

.black_key:nth-child(8) {
    left: 662px;
}

.black_key:nth-child(9) {
    left: 797px;
}

.black_key:nth-child(10) {
    left: 865px;
}

.key:hover {
    background-color: #ccc;
}

footer {
    font-size: 20px;
}
